.user-list {
    padding: 10px;
}

.user-list-item {
    transition: background-color 0.2s ease-in-out;
}

.user-list-item:hover {
    background-color: #f0f0f0;
}

.user-list-badges {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-list-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}